* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 98vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #bf6b3d;
}

h1, h3 {
    text-align: center;
}

#container {
    width: 50%;
    height: 30%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    margin: 0 auto;
    /*
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;*/
}

#container button {
    font-size: 2rem;
    height: 40%;
    justify-self: center;
    align-self: center;
}

#container #back-button {
    grid-column: 1;
}

#container #next-button {
    grid-column: 3;
}

#card {
    width: 50%;
    height: 60%;
    background-color: #f7d92a;
    border: 1px solid black;
    padding: 2px;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#input-container {
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}

#card-maker {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-items: center;
    align-items: center;
}

#card-maker #submit-button {
    grid-column: 1/ span 2;
    grid-row: 3;
    justify-self: stretch;
    place-self: stretch;
}

#tabs {
    width: 40%;
    margin: 0 auto;
    display: flex;
}

#tabs .tab {
    cursor: pointer;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#tabs .tab:hover {
    background-color: #575551;
}

#tabs .tab.open {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0;
    background-color: beige;
}

#list-container {
    width: 40%;
    height: 20%;
    margin: 0 auto;
    background-color: beige;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: min-content max(95%);
    grid-auto-rows: min-content;
    align-items: center;
    justify-items: center;
    row-gap: 0.5rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#list-container p {
    grid-column: 2;
}

#list-container input {
    grid-column: 1;
}

#delete-button {
    display: block;
    margin: 0.5rem auto;
}

#shuffle-button {
    display: block;
    margin: 0.5rem auto;
}

#new-deck-button {
    display: block;
    margin: 0.5rem auto;
}

#delete-deck-button {
    display: block;
    margin: 0.5rem auto;
}

.active {
    animation: flip 2s 1;
}

.active p {
    animation: flip 2s 1;
}

@keyframes flip {
    100% {
        transform: scaleX(-1);
    }
}